<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../glycan-mass-calculator/glycan-mass-calculator.html">
<link rel="import" href="../peptide-mass-calculator/peptide-mass-calculator.html">
<link rel="import" href="../peptide-fragmenter/peptide-fragmenter.html">
<link rel="import" href="pepsweetener-heatmap-style.html">

<!-- Import d3 and heatmap generating script -->
<script src="../d3/d3.js"></script>
<script src="../d3-tip/index.js"></script>
<script src="colorbar.js"></script>

<!-- Defines element markup -->
<dom-module id="pepsweetener-heatmap">
    <template>
        <style is="sort-style">
            paper-dropdown-menu {
                --paper-input-container-label: {
                    color: white;
                    background-color: var(--paper-green-500);
                    font-style: italic;
                    text-align: center;
                    font-weight: bold;
                };
                --paper-input-container-input: {
                    color: var(--paper-indigo-500);
                    font-style: normal;
                    font-family: serif;
                    text-transform: uppercase;
                };
                /* no underline */
                --paper-input-container-underline: {
                    display: none;
                };
            }

            paper-item {
                display: block;
                position: relative;
                min-height: 32px;
                padding: 0px 16px;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-direction: row;
                -webkit-flex-direction: row;
                flex-direction: row;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            paper-dropdown-menu {
                width: 100%;
            }

            paper-dropdown-menu paper-menu-button {
                width: 100%;
                padding: 0;
            }

            peptide-fragmenter {
                margin-left: 25px;
                float: right;
            }

            div#sortContainer {
                display: inline-flex;
                margin-left: 35px;
            }

            #sortContainer[disabled]{
                display: none;
            }

            div.comment {
                margin-top: 130px;
                margin-left: 75px;
                position: absolute;
            }

            div[disabled]{
                display: none;
            }

            #fragmenterContainer {
                display: inline-block;
                margin-bottom: 60px;
            }

            #fragmenterContainer[disabled]{
                display: none;
            }

            #fragmenterHeader {
                margin-left: 30px;
            }

            div.tooltip {
                position: absolute;
                height: auto;
                padding: 10px;
                background: rgba(255, 255, 255, 1);
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
                pointer-events: auto;
                line-height: 1;
            }

            .hidden {
                display: none;
            }
            #chart {
                overflow-x: auto;
                overflow-y: auto;
                width: 100%;
                height: 80%;
            }
        </style>
        <iron-ajax
                id="ajax"
                method="GET"
                handle-as="json"
                on-response="handleResponse"
                on-error="handleErrorResponse"
                debounce-duration="300">
        </iron-ajax>
        <div id="sortContainer" disabled>
            <paper-dropdown-menu id="sorting" label="Sort by" class="sort">
                <paper-menu class="dropdown-content" selected="{{sorting}}" attr-for-selected="value">
                    <paper-item value="ppm">ppm distance</paper-item>
                    <paper-item value="mass">mass</paper-item>
                    <paper-item value="sequence&composition">
                        sequence and composition
                    </paper-item>
                </paper-menu>
            </paper-dropdown-menu>
        </div>
        <div id="chart"></div>
        <div id="fragmenterContainer" disabled>
            <h3 id="fragmenterHeader">Theoretical peptide ions</h3>
            <peptide-fragmenter peptide=""></peptide-fragmenter>
        </div>
        <peptide-mass-calculator id="peptideMassCalc" decimals=4 class="hidden"></peptide-mass-calculator>
        <glycan-mass-calculator id="glycanMassCalc" class="hidden"></glycan-mass-calculator>
    </template>
    <!-- Registers custom element -->
    <script src="pepsweetener-heatmap.js"></script>
</dom-module>
